<div class="row">
  <div class="column full">
    <div class="block-container">
      <div class="block-header">
          <h3>Clients<input class="taskSearch" type="search" ng-model="clientSearch" placeholder="Search" /></h3>
        </div>
      </div>
  </div>
</div>
<div class="row"> <!--  ng-repeat="clientChunk in clientList" -->
    <div class="column one-fourth" ng-repeat="clientRow in clientList | filter:clientSearch">
      <a ng-href="{{clientRow.url}}">
        <div class="clientBox">
            <h4><strong>{{clientRow.name}}</strong></h4>
            <h5>- {{clientRow.version}}</h5>
            <img ng-src="{{clientRow.imgUrl}}">
        </div>
      </a>
    </div>
</div>