<div class="row" ng-app="taskModule">
  <div class="column full">
    <div class="block-container">
      <div class="block-header">
        <h3>Tasks <small>> In progress</small><input class="taskSearch" type="search" ng-model="search" placeholder="Search" /></h3>
        
      </div>
      <div class="block-content" ng-controller="TaskCtrl">

        <div class="task-row" ng-repeat="task in data.tasks | orderBy:'Priority' | filter:search">
          <div class="priority {{task.Priority | lowercase}}">
            <a tooltip="Task priority" class="tooltip">{{task.Priority}}</a>
          </div>
          <div class="task-title">
            <h4><a ng-href="http://it.jecsi.com/Lists/ProjectTasks/DispComments.aspx?ID={{task.ID}}&Source=http%3A//it.jecsi.com/danny/default.aspx%23/tasks">{{task.Task}}</a></h4>
            <h5>{{task.ID}}</h5>
          </div>
          <div class="task-progress">
            <div class="progress-bar">
              <div class="progress-track">
                <div class="progress-fill">
                  <span>40%</span>
                </div>
              </div>
            </div>
          </div>
          <div class="task-time"><a  tooltip="Time remaining" class="tooltip">{{task.Hours - task.HoursBilled}} <small>( {{task.HoursBilled}} / {{task.Hours}} )</small></a></div>
        </div>
      </div>
    </div>
  </div>
</div>
