<div class="row">
  <div class="column full">
    <div class="block-container">
      <div class="block-header">
        <h3>Tasks</h3>
      </div>
      <div class="block-content">
        <div class="task-row">
          <div class="priority high">
            <a tooltip="Task priority" class="tooltip">High</a>
          </div>
          <div class="task-title">
            <h4>Title</h4>
            <h5>Description</h5>
          </div>
          <div class="task-progress">
            <div class="progress-bar">
              <div class="progress-track">
                <div class="progress-fill">
                  <span>100%</span>
                </div>
              </div>
            </div>
          </div>
          <div class="task-time"><a  tooltip="Time remaining" class="tooltip">0.25 <small>( 4.5 / 4.75 )</small></a></div>
        </div>
        <div class="task-row">
          <div class="priority normal">
            <a tooltip="Task priority" class="tooltip">Normal</a>
          </div>
          <div class="task-title">
            <h4>Title</h4>
            <h5>Description</h5>
          </div>
          <div class="task-progress">
            <div class="progress-bar">
              <div class="progress-track">
                <div class="progress-fill">
                  <span>75%</span>
                </div>
              </div>
            </div>
          </div>
          <div class="task-time"><a  tooltip="Time remaining" class="tooltip">0.25 <small>( 4.5 / 4.75 )</small></a></div>
        </div>
        <div class="task-row">
          <div class="priority low">
            <a tooltip="Task priority" class="tooltip">Low</a>
          </div>
          <div class="task-title">
            <h4>Title</h4>
            <h5>Description</h5>
          </div>
          <div class="task-progress">
            <div class="progress-bar">
              <div class="progress-track">
                <div class="progress-fill">
                  <span>40%</span>
                </div>
              </div>
            </div>
          </div>
          <div class="task-time"><a  tooltip="Time remaining" class="tooltip">0.25 <small>( 4.5 / 4.75 )</small></a></div>
        </div>
      </div>
    </div>
  </div>
</div>
