<pre class="language-javascript">
<code>function numberWithCommas(myInt, precision) {
    if (!myInt || isNaN(myInt)) {
        return 0;
    }
    myInt = (precision !== undefined) ? parseFloat(myInt).toFixed(precision) : myInt.toString();
    myInt = myInt.split(".");
    var part1 = myInt[0];
    var part2 = myInt[1] || "";
    part1 = part1.replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
    return part2 ? part1 + "." + part2 : part1;
}</code>
</pre>
<h4 class="snippetSectionHeading">Usage:</h4>
<pre class="language-javascript">
<code>numberWithCommas(123456789.12345);         // "123,456,789.12345"
numberWithCommas(123456789.12345, 2);      // "123,456,789.12"
</code>
</pre>
<h4 class="snippetSectionHeading">Comments:</h4>
<p class="snippetComments">Used on grids to format a number to number formatting, with optional precision</p>