<pre class="language-javascript">
<code>var locationArray = [
	{region:'c', country:'a'},
	{region:'d', country:'d'},
	{region:'b', country:'h'},
	{region:'a', country:'f'},
	{region:'a', country:'d'},
	{region:'a', country:'a'}
];

function doubleSort (a, b) {
    if(a.region == b.region) {
        return (a.country < b.country) ? -1 : (a.country > b.country) ? 1 : 0;
    } else {
        return (a.region < b.region) ? -1 : 1;
    }
}

var sortedArr = locationArray.sort(doubleSort);

JSON.stringify(sortedArr);           //[{region:'a', country:'a'},{region:'a', country:'d'},{region:'a', country:'f'},{region:'b', country:'h'},{region:'c', country:'a'},{region:'d', country:'d'}];
</code>
</pre>