<pre class="language-javascript">
<code>function addParam(url, arrParams) {
    for( var i = 0; i < arrParams.length; i++ ){
    	var param = arrParams[i];
	    url += ~(url.indexOf("?")) ? "&" : "?";
	    url += param.k + "=" + escape( param.v );
    }
    return url;
}
</code>
</pre>
<h4 class="snippetSectionHeading">Usage:</h4>
<pre class="language-javascript">
<code>var url = "http://mysite.html";
arrParams = [{k: 'id', v: 15}, {k: 'user', v: 'bob'}];

addParam(url, arrParams);                  //  "http://mysite.html?id=15&user=bob"
url = addParam(url, [{k:'bla',v:'bla2'}])  //  "http://mysite.html?id=15&user=bob&bla=bla2"
</code>
</pre>
<h4 class="snippetSectionHeading">Comments:</h4>
<p class="snippetComments">Used to add parameters to a url, using an array of param objects with `k` and `v` for the key/value object keys.</p>